body {
    font-family: 'catamaran';
    background-color: #61677A;
    font-weight: 900;
}

.calculator {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 550px;
}

#title-text {
    color: #272829;
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
}

#display {
    height: 50px;
    font-size: 50px;
    margin-bottom: 20px;
    color: #272829;
}

#buttons-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#KeyC,
#Backspace {
    grid-column: span 2;
    background-color: #FFF6E0;
}

.number-button,
.operator-button,
.operation-button,
.dot-button {
    font-size: 20px;
    font-weight: 900;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background-color: #D8D9DA;
    color: #272829;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
}

.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}